.grid-content {
  height: 100%;
  width: 90%;
  margin: auto;
}

.contact-bio {
  margin-top: 50px;
}

.card-grid-content {
  width: 100%;
  padding: 10px;
  .light-text {
    color: grey;
  }
}

.card-content {
  padding-left: 15px;
}
